@media screen and (max-width: 768px){
  .chevron-t-l, .chevron-t-r, .chevron-b-l, .chevron-b-r{
    display: none;
  }
}

@media screen and (max-width: 576px){
  .years{
    display: none;
  }
}

// chevron
.chevron-t-l{
  position: fixed;
  left: 30px;
  bottom: 50%;
}

.chevron-t-r{
  position: fixed;
  right: 30px;
  bottom: 50%;
}

.chevron-b-r{
  position: fixed;
  right: 30px;
  bottom: 45%;
}

.chevron-b-l{
  position: fixed;
  left: 30px;
  bottom: 45%;
}


// navigation
nav{
  background-color: rgba(225, 228, 231, 0.329);
}


// Ombrage
.card-shadow{
  box-shadow: 7px 7px 12px rgba(53, 53, 53, 0.801);

  .title{    
    text-shadow: 2px 2px 4px black;
    margin-top: 10px;
    font-weight: 400;
  }

  h2{
   text-shadow: 1px 1px 2px rgb(104, 104, 104);
   margin-top: 10px;
   font-style: italic;
   font-weight: 100;
 }
}


// Chat de séparation
.cat-separate{
  display: flex;
  justify-content: center;
}


// Titre
h2{
  &.title{
    font-style: oblique;
    font-size: 2.3em;
    margin-bottom: 20px;
    text-decoration: underline;
  }
}

h1{
  font-style: oblique;
  font-size: 3em;
  margin-bottom: 20px;
  text-decoration: underline;
}


// logo contact
.logo{
  
  &:hover{
    transform: scale(1.1);
  }

  &:focus{
    animation: 1s ease 0s 1 running logo-réseaux;
  }
}

@keyframes logo-réseaux {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);} 
}

button a{
  color: white;
  text-decoration: none;
  font-style: italic;

  &:hover{
    color: black;
  }
}